@media screen and (min-width: 900px) {
    #topBar {
        text-align: center;
        color: white;
        font-family: Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: bold;
    }
    
    #bg {
        position: absolute;
        top: 3em;
        left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background: radial-gradient(farthest-corner at 0px 0px, rgb(0, 51, 255) 20%, rgb(0, 255, 187) 100%);
    }
    
    .empty {
        width: calc(100vw / 13 * 2.5); 
        background-color: black;
    }
}

@media screen and (max-width: 900px) {
    #topBar {
        text-align: center;
        color: white;
        font-family: Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        height: 1.6em;
    }

    #bg {
        display: flex;
        flex-direction: column;
        background: linear-gradient(135deg, rgb(0, 51, 255) 0%, rgb(0, 255, 187) 100%);
    }
    
    .empty {
        display: hidden;
    }
}