@media screen and (min-width: 900px) {
  #topBar {
    position: fixed;
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    height: 3em;
    width: 100vw;
    display: grid;
    grid-template-columns: 70% auto auto;

    #title {
      grid-column: 1;
      align-self: start;
      justify-self: start;
      font-size: 2.5em;
      -webkit-text-stroke: #00000080 1px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #datepicker {
      grid-column: 2;
      align-self: center;
      justify-self: end;
      font-size: 0.8em;
    }

    #values {
      grid-column: 3;
      display: flex;
      align-self: center;
      justify-self: center;
      white-space: nowrap;
      font-size: 0.8em;
    }

    .mat-datepicker-toggle {
      color: white;
    }
  }

  #bg {
    position: fixed;
    z-index: -1;
    top: 4em;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(
      100deg,
      rgba(255, 0, 0, 1) 5%,
      rgba(255, 136, 0, 1) 20%,
      rgba(255, 170, 0, 1) 35%,
      rgba(255, 255, 255, 1) 50%,
      rgba(0, 204, 255, 1) 65%,
      rgba(0, 153, 255, 1) 80%,
      rgba(0, 85, 255, 1) 95%
    );
    // background: radial-gradient(
    //   farthest-corner at 0px 0px,
    //   rgb(0, 51, 255) 20%,
    //   rgb(0, 255, 187) 100%
    // );
  }

  .empty {
    width: calc(100vw / 13 * 2.5);
    background-color: black;
  }
}

@media screen and (max-width: 900px) {
  #topBar {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 2.5em auto;
    grid-template-areas:
      "title title"
      "date values";

    #title {
      grid-area: title;
      font-size: 2em;
    }

    #datepicker {
      grid-area: date;
    }

    #values {
      grid-area: values;
      align-self: center;
      justify-self: center;
      padding: 5px 10px;
    }

    .mat-datepicker-toggle {
      color: white;
    }
  }

  #bg {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      180deg,
      rgba(255, 0, 0, 1) 5%,
      rgba(255, 136, 0, 1) 20%,
      rgba(255, 170, 0, 1) 35%,
      rgba(255, 255, 255, 1) 50%,
      rgba(0, 204, 255, 1) 65%,
      rgba(0, 153, 255, 1) 80%,
      rgba(0, 85, 255, 1) 95%
    );
  }

  .empty {
    display: none;
  }
}

#chevronContainer {
  max-width: 200px;
  display: grid;
  grid-template-rows: repeat(3, 53px) 20px repeat(3, 53px);
  background-color: #cccccc80;
  border-radius: 50px;
  border: 1px black solid;
  padding: 60px 0px;
  margin: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  align-items: center;
  z-index: 10;

  .cb-svg {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    pointer-events: none;
  }

  // Positioning and clipping
  #cbChevronP3 {
    grid-row: 1;
    clip-path: url("#cbChevronP3 > path:nth-child(1)");
  }
  #cbChevronP2 {
    grid-row: 2;
    clip-path: url("#cbChevronP2 > path:nth-child(1)");
  }
  #cbChevronP1 {
    grid-row: 3;
    clip-path: url("#cbChevronP1 > path:nth-child(1)");
  }
  #cbDot {
    grid-row: 4;
    clip-path: url("#cbDot > ellipse");
  }
  #cbChevronM1 {
    grid-row: 5;
    clip-path: url("#cbChevronM1 > path:nth-child(1)");
  }
  #cbChevronM2 {
    grid-row: 6;
    clip-path: url("#cbChevronM2 > path:nth-child(1)");
  }
  #cbChevronM3 {
    grid-row: 7;
    clip-path: url("#cbChevronM3 > path:nth-child(1)");
  }

  // Color Fills
  .cb-chevron-grey {
    fill: #00000080 !important;
  }

  #cbChevronP3 > path:nth-child(1) {
    fill: #ff0000;
  }

  #cbChevronP2 > path:nth-child(1) {
    fill: #ff8800;
  }

  #cbChevronP1 > path:nth-child(1) {
    fill: #ffaa00;
  }

  #cbDot > ellipse {
    fill: white;
  }

  #cbChevronM1 > path:nth-child(1) {
    fill: #00ccff;
  }

  #cbChevronM2 > path:nth-child(1) {
    fill: #0099ff;
  }

  #cbChevronM3 > path:nth-child(1) {
    fill: #0055ff;
  }
}

.cb-chevron > path {
  stroke: white;
  stroke-width: 0.2;
  pointer-events: all;
}

.cb-dot > ellipse {
  stroke: white;
  stroke-width: 5;
  pointer-events: all;
}

#chevronLabelContainer {
  position: fixed;
  bottom: 0;
  right: 128px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2em;
  text-align: center;
  -webkit-text-stroke: 1px black;
  color: white;
  pointer-events: none;
  z-index: 20;

  #labelP3 {
    position: absolute;
    bottom: 410px;

    &.cb-chevron-grey {
      color: #ff0000;
    }
  }

  #labelP2 {
    position: absolute;
    bottom: 355px;

    &.cb-chevron-grey {
      color: #ff8800;
    }
  }

  #labelP1 {
    position: absolute;
    bottom: 300px;

    &.cb-chevron-grey {
      color: #ffaa00;
    }
  }

  #labelZ {
    position: absolute;
    bottom: 220px;

    &.cb-chevron-grey {
      color: #aaaaaa;
    }
  }

  #labelM1 {
    position: absolute;
    bottom: 135px;

    &.cb-chevron-grey {
      color: #00ccff;
    }
  }

  #labelM2 {
    position: absolute;
    bottom: 82px;

    &.cb-chevron-grey {
      color: #0099ff;
    }
  }

  #labelM3 {
    position: absolute;
    bottom: 30px;

    &.cb-chevron-grey {
      color: #0055ff;
    }
  }
}

#modEditBackdrop {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  visibility: hidden;

  &.backdrop {
    pointer-events: all !important;
    visibility: visible !important;
  }
}

.fly-in {
  animation: fly-in 0.35s ease-out;
}

.fly-out {
  animation: fly-out 0.35s ease-in;
}

@keyframes fly-in {
  from {
    bottom: -500px;
  }

  to {
    bottom: 0px;
  }
}

@keyframes fly-out {
  from {
    bottom: 0px;
  }

  to {
    bottom: -500px;
  }
}
