<div id="bg">
  <app-character name="Mario" imagePath="../../assets/characters/Mario.png" [value]="vals[0]"></app-character>
  <app-character name="Donkey Kong" imagePath="../../assets/characters/DonkeyKong.png" [value]="vals[1]"></app-character>
  <app-character name="Link" imagePath="../../assets/characters/Link.png" [value]="vals[2]"></app-character>
  <app-character name="Samus" imagePath="../../assets/characters/Samus.png" [value]="vals[3]"></app-character>
  <app-character name="Dark Samus" imagePath="../../assets/characters/DarkSamus.png" [value]="vals[4]"></app-character>
  <app-character name="Yoshi" imagePath="../../assets/characters/Yoshi.png" [value]="vals[5]"></app-character>
  <app-character name="Kirby" imagePath="../../assets/characters/Kirby.png" [value]="vals[6]"></app-character>
  <app-character name="Fox" imagePath="../../assets/characters/Fox.png" [value]="vals[7]"></app-character>
  <app-character name="Pikachu" imagePath="../../assets/characters/Pikachu.png" [value]="vals[8]"></app-character>
  <app-character name="Luigi" imagePath="../../assets/characters/Luigi.png" [value]="vals[9]"></app-character>
  <app-character name="Ness" imagePath="../../assets/characters/Ness.png" [value]="vals[10]"></app-character>
  <app-character name="Captain Falcon" imagePath="../../assets/characters/CaptainFalcon.png" [value]="vals[11]"></app-character>
  <app-character name="Jigglypuff" imagePath="../../assets/characters/Jigglypuff.png" [value]="vals[12]"></app-character>
  <app-character name="Peach" imagePath="../../assets/characters/Peach.png" [value]="vals[13]"></app-character>
  <app-character name="Daisy" imagePath="../../assets/characters/Daisy.png" [value]="vals[14]"></app-character>
  <app-character name="Bowser" imagePath="../../assets/characters/Bowser.png" [value]="vals[15]"></app-character>
  <app-character name="Ice Climbers" imagePath="../../assets/characters/IceClimbers.png" [value]="vals[16]"></app-character>
  <app-character name="Sheik" imagePath="../../assets/characters/Sheik.png" [value]="vals[17]"></app-character>
  <app-character name="Zelda" imagePath="../../assets/characters/Zelda.png" [value]="vals[18]"></app-character>
  <app-character name="Dr. Mario" imagePath="../../assets/characters/DrMario.png" [value]="vals[19]"></app-character>
  <app-character name="Pichu" imagePath="../../assets/characters/Pichu.png" [value]="vals[20]"></app-character>
  <app-character name="Falco" imagePath="../../assets/characters/Falco.png" [value]="vals[21]"></app-character>
  <app-character name="Marth" imagePath="../../assets/characters/Marth.png" [value]="vals[22]"></app-character>
  <app-character name="Lucina" imagePath="../../assets/characters/Lucina.png" [value]="vals[23]"></app-character>
  <app-character name="Young Link" imagePath="../../assets/characters/YoungLink.png" [value]="vals[24]"></app-character>
  <app-character name="Ganondorf" imagePath="../../assets/characters/Ganondorf.png" [value]="vals[25]"></app-character>
  <app-character name="Mewtwo" imagePath="../../assets/characters/Mewtwo.png" [value]="vals[26]"></app-character>
  <app-character name="Roy" imagePath="../../assets/characters/Roy.png" [value]="vals[27]"></app-character>
  <app-character name="Chrom" imagePath="../../assets/characters/Chrom.png" [value]="vals[28]"></app-character>
  <app-character name="Mr. Game & Watch" imagePath="../../assets/characters/MrGameWatch.png" [value]="vals[29]"></app-character>
  <app-character name="Meta Knight" imagePath="../../assets/characters/MetaKnight.png" [value]="vals[30]"></app-character>
  <app-character name="Pit" imagePath="../../assets/characters/Pit.png" [value]="vals[31]"></app-character>
  <app-character name="Dark Pit" imagePath="../../assets/characters/DarkPit.png" [value]="vals[32]"></app-character>
  <app-character name="Zero Suit Samus" imagePath="../../assets/characters/ZeroSuitSamus.png" [value]="vals[33]"></app-character>
  <app-character name="Wario" imagePath="../../assets/characters/Wario.png" [value]="vals[34]"></app-character>
  <app-character name="Snake" imagePath="../../assets/characters/Snake.png" [value]="vals[35]"></app-character>
  <app-character name="Ike" imagePath="../../assets/characters/Ike.png" [value]="vals[36]"></app-character>
  <app-character name="Pokemon Trainer" imagePath="../../assets/characters/PokemonTrainer.png" [value]="vals[37]"></app-character>
  <app-character name="Diddy Kong" imagePath="../../assets/characters/DiddyKong.png" [value]="vals[38]"></app-character>
  <app-character name="Lucas" imagePath="../../assets/characters/Lucas.png" [value]="vals[39]"></app-character>
  <app-character name="Sonic" imagePath="../../assets/characters/Sonic.png" [value]="vals[40]"></app-character>
  <app-character name="King Dedede" imagePath="../../assets/characters/KingDedede.png" [value]="vals[41]"></app-character>
  <app-character name="Olimar" imagePath="../../assets/characters/Olimar.png" [value]="vals[42]"></app-character>
  <app-character name="Lucario" imagePath="../../assets/characters/Lucario.png" [value]="vals[43]"></app-character>
  <app-character name="R.O.B." imagePath="../../assets/characters/ROB.png" [value]="vals[44]"></app-character>
  <app-character name="Toon Link" imagePath="../../assets/characters/ToonLink.png" [value]="vals[45]"></app-character>
  <app-character name="Wolf" imagePath="../../assets/characters/Wolf.png" [value]="vals[46]"></app-character>
  <app-character name="Villager" imagePath="../../assets/characters/Villager.png" [value]="vals[47]"></app-character>
  <app-character name="Mega Man" imagePath="../../assets/characters/MegaMan.png" [value]="vals[48]"></app-character>
  <app-character name="Wii Fit Trainer" imagePath="../../assets/characters/WiiFitTrainer.png" [value]="vals[49]"></app-character>
  <app-character name="Rosalina & Luma" imagePath="../../assets/characters/RosalinaLuma.png" [value]="vals[50]"></app-character>
  <app-character name="Little Mac" imagePath="../../assets/characters/LittleMac.png" [value]="vals[51]"></app-character>
  <app-character name="Greninja" imagePath="../../assets/characters/Greninja.png" [value]="vals[52]"></app-character>
  <app-character name="Palutena" imagePath="../../assets/characters/Palutena.png" [value]="vals[53]"></app-character>
  <app-character name="PAC-MAN" imagePath="../../assets/characters/PAC-MAN.png" [value]="vals[54]"></app-character>
  <app-character name="Robin" imagePath="../../assets/characters/Robin.png" [value]="vals[55]"></app-character>
  <app-character name="Shulk" imagePath="../../assets/characters/Shulk.png" [value]="vals[56]"></app-character>
  <app-character name="Bowser Jr." imagePath="../../assets/characters/BowserJr.png" [value]="vals[57]"></app-character>
  <app-character name="Duck Hunt" imagePath="../../assets/characters/DuckHunt.png" [value]="vals[58]"></app-character>
  <app-character name="Ryu" imagePath="../../assets/characters/Ryu.png" [value]="vals[59]"></app-character>
  <app-character name="Ken" imagePath="../../assets/characters/Ken.png" [value]="vals[60]"></app-character>
  <app-character name="Cloud" imagePath="../../assets/characters/Cloud.png" [value]="vals[61]"></app-character>
  <app-character name="Corrin" imagePath="../../assets/characters/Corrin.png" [value]="vals[62]"></app-character>
  <app-character name="Bayonetta" imagePath="../../assets/characters/Bayonetta.png" [value]="vals[63]"></app-character>
  <app-character name="Inkling" imagePath="../../assets/characters/Inkling.png" [value]="vals[64]"></app-character>
  <app-character name="Ridley" imagePath="../../assets/characters/Ridley.png" [value]="vals[65]"></app-character>
  <app-character name="Simon" imagePath="../../assets/characters/Simon.png" [value]="vals[66]"></app-character>
  <app-character name="Richter" imagePath="../../assets/characters/Richter.png" [value]="vals[67]"></app-character>
  <app-character name="King K Rool" imagePath="../../assets/characters/KingKRool.png" [value]="vals[68]"></app-character>
  <app-character name="Isabelle" imagePath="../../assets/characters/Isabelle.png" [value]="vals[69]"></app-character>
  <app-character name="Incineroar" imagePath="../../assets/characters/Incineroar.png" [value]="vals[70]"></app-character>
  <app-character name="Piranha Plant" imagePath="../../assets/characters/PiranhaPlant.png" [value]="vals[71]"></app-character>
  <app-character name="Joker" imagePath="../../assets/characters/Joker.png" [value]="vals[72]"></app-character>
  <app-character name="Hero" imagePath="../../assets/characters/Hero.png" [value]="vals[73]"></app-character>
  <app-character name="Banjo & Kazooie" imagePath="../../assets/characters/BanjoKazooie.png" [value]="vals[74]"></app-character>
  <app-character name="Terry" imagePath="../../assets/characters/Terry.png" [value]="vals[75]"></app-character>
  <app-character name="Byleth" imagePath="../../assets/characters/Byleth.png" [value]="vals[76]"></app-character>
  <app-character name="Min Min" imagePath="../../assets/characters/MinMin.png" [value]="vals[77]"></app-character>
  <div class="empty"></div>
  <app-character name="Steve" imagePath="../../assets/characters/Steve.png" [value]="vals[78]"></app-character>
  <app-character name="Sephiroth" imagePath="../../assets/characters/Sephiroth.png" [value]="vals[79]"></app-character>
  <app-character name="Pyra/Mythra" imagePath="../../assets/characters/PyraMythra.png" [value]="vals[80]"></app-character>
  <app-character name="Kazuya" imagePath="../../assets/characters/Kazuya.png" [value]="vals[81]"></app-character>
  <app-character name="Sora" imagePath="../../assets/characters/Sora.png" [value]="vals[82]"></app-character>
  <app-character name="Mii Brawler" imagePath="../../assets/characters/MiiBrawler.png" [value]="vals[83]"></app-character>
  <app-character name="Mii Swordfighter" imagePath="../../assets/characters/MiiSwordfighter.png" [value]="vals[84]"></app-character>
  <app-character name="Mii Gunner" imagePath="../../assets/characters/MiiGunner.png" [value]="vals[85]"></app-character>
  <div class="empty"></div>
</div>

