.character {
    border: 1px solid black;
    overflow: hidden;
    background-clip: border-box;
    background-repeat: no-repeat;
    display: grid;

    @media screen and (min-width: 900px) {
        height: 5vw;
        width: calc((100vw - 2px * 13) / 13);
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        background-size: cover;
    }

    @media screen and (max-width: 899px) {
        height: 5em;
        width: 100%;
        grid-template-columns: auto auto 2.5em;
        grid-template-rows: 5em;
        background-size: 10em;
    }
}

.value {
    background-color: rgb(0, 0, 0, .8);
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    @media screen and (min-width: 900px) {
        grid-row: 1;
        justify-self: start;
        margin: 5%;
        height: 1.1em;
        width: 2em;
        border-radius: 1em;
        font-size: 1.2em;
        padding: .1em;
    }

    @media screen and (max-width: 899px) {
        grid-column: 3;
        shape-outside: content-box;
        justify-self: stretch;
        align-self: center;
        border-radius: 5em 0 0 5em;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1.2em;
    }
}

.name {
    color: white;
    -webkit-text-stroke: 1px black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 1px #00000080;

    @media screen and (min-width: 900px) {
        grid-row: 3;
        justify-self: center;
        align-self: end;
        font-size: 1.2em;
    }

    @media screen and (max-width: 899px) {
        grid-column: 2;
        align-self: center;
        justify-self: center;
        font-size: 2em;
    }
}